.header {
	text-align: center;
}

.header h1 {
	font-weight: 300;
}

.content {
	max-width: 600px;
	margin: 0 auto;
}

.content .pure-form .pure-input-1-2{
    width: 100%;
}

.todo-done {
	text-decoration: line-through;
	color: #777;
}

.todo-action-group {
	float: right;
}