.header {
    text-align: center;
}

.header h1 {
    font-weight: 300;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.todo-action-group {
    float: right;
}

.due, .status {
	padding-top:5px;
}

.status {
	float: right;
}

.todo h3 {
    padding: 6px 0;
    margin: 0px;
}

.todo .due, .todo .status {
    color: #777;
}

.todo .description {
    white-space: pre-line;
    margin-bottom: 5px; 
}

hr {
    color: white;
}

/* Bypass pure-css */
input.todo-title-edit, input.todo-due-edit {
	border-radius: 0 !important;
}

.todo-status-edit {
	float:right;
	margin: .35em 0;
}