.header {
    text-align: center;
}

.header h1 {
    font-weight: 300;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

.todo-done {
    text-decoration: line-through;
    color: #777;
}

.todo-action-group {
    float: right;
}

.todo h3:hover {
    background-color: #EEE;
}

.todo h3 {
    cursor: pointer;
    padding: 6px 0;
    margin: 0px;
}

.todo .due {
    color: #777;
}

.todo .description {
    white-space: pre-line;
    margin-bottom: 5px; 
}

hr {
    color: white;
}

/* Bypass pure-css */
input.todo-title-edit, input.todo-due-edit {
	border-radius: 0 !important;
}